.song {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  padding: 3px 4px;
  border-radius: 4px;

  cursor: pointer;
  user-select: none;

  background: rgb(227, 236, 226);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  &:hover {
    background: rgb(204, 230, 240);
  }

  &.active {
    background: rgb(204, 240, 216);
  }

  .left {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;

    overflow: hidden;
  }

  .right {
    flex-shrink: 0;
    display: flex;
    flex-flow: column nowrap;

    justify-self: flex-end;
  }

  .title {
    font-size: 12px;
    font-weight: 600;
    color: rgb(78, 78, 78);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .artist {
    font-size: 10px;
    color: rgb(92, 92, 92);
  }

  .series {
    font-size: 10px;
    color: rgb(92, 92, 92);
  }
}
